body {
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    display: grid;
    grid-auto-flow: dense;
    padding: 20px;
    justify-content: space-between;
    grid-gap: 20px;
    height: 100vh;
    background-color: rgba(0, 0, 255, 0.132);
    border: 5px solid rgba(0, 0, 255, 0.321);

}

nav {
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    border-radius: 5em;
    background-color: rgba(0, 0, 255, 0.132);
    border: 5px solid rgba(0, 0, 255, 0.321);
}

header {
    font-size: 24pt;
    display: flex;
    justify-content: center;
    border-radius: 5em;
    background-color: rgba(0, 0, 255, 0.132);
    border: 5px solid rgba(0, 0, 255, 0.321);


}

h1 {
    display: flex;
    justify-content: center;
    border-radius: 5em;
    background-color: rgba(0, 0, 255, 0.132);
}

form {
    display: flex;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 255, 0.132);
    border-radius: 5em;
    border: 5px solid rgba(0, 0, 255, 0.321);

}

.hi {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5em;
    background-color: rgba(0, 0, 255, 0.132);
    border: 5px solid rgba(0, 0, 255, 0.321);

}

.todolist {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5em;
    background-color: rgba(0, 0, 255, 0.132);

}